/*third letter animation About*/
/*A*/
.letterLineAbout0301, .letterLineAbout0302, .letterLineAbout0303, .letterLineAbout0307, .letterLineAbout0308, .letterLineAbout0309, .letterLineAbout0310, .letterLineAbout0314 {
  animation: flickr .02s ease-in-out .0003s 12 alternate both;
}

/*fourth letter animation About*/
/*B*/
.letterLineAbout0401, .letterLineAbout0402, .letterLineAbout0403, .letterLineAbout0406, .letterLineAbout0408, .letterLineAbout0410, .letterLineAbout0413, .letterLineAbout0415, .letterLineAbout0416 {
  animation: flickr .03s ease-in-out .0014s 16 alternate both;
}

/*fifth letter animation About*/
/*O*/
.letterLineAbout0501, .letterLineAbout0502, .letterLineAbout0503, .letterLineAbout0507, .letterLineAbout0510, .letterLineAbout0514, .letterLineAbout0515, .letterLineAbout0516 {
  animation: flickr .005s ease-in-out .0005s 98 alternate both;
}

/*sixth letter animation About*/
/*U*/
.letterLineAbout0603, .letterLineAbout0607, .letterLineAbout0610, .letterLineAbout0614, .letterLineAbout0615, .letterLineAbout0616 {
  animation: flickr .004s ease-in-out .0001s 126 alternate both;
}

/*seventh letter animation About*/
/*T*/
.letterLineAbout0701, .letterLineAbout0702, .letterLineAbout0705, .letterLineAbout0712 {
  animation: flickr .09s ease-in-out .0009s 6 alternate both;
}
