/*second letter animation Contact*/
/*C*/
.letterLineContact0201, .letterLineContact0202, .letterLineContact0203, .letterLineContact0210, .letterLineContact0215, .letterLineContact0216 {
  animation: flickr .02s ease-in-out .0003s 12 alternate both;
}

/*third letter animation Contact*/
/*O*/
.letterLineContact0301, .letterLineContact0302, .letterLineContact0303, .letterLineContact0307, .letterLineContact0310, .letterLineContact0314, .letterLineContact0315, .letterLineContact0316 {
  animation: flickr .03s ease-in-out .0014s 18 alternate both;
}

/*fourth letter animation Contact*/
/*N*/
.letterLineContact0403, .letterLineContact0404, .letterLineContact0407, .letterLineContact0410, .letterLineContact0413, .letterLineContact0414 {
  animation: flickr .005s ease-in-out .0005s 88 alternate both;
}

/*fifth letter animation Contact*/
/*T*/
.letterLineContact0501, .letterLineContact0502, .letterLineContact0505, .letterLineContact0512 {
  animation: flickr .004s ease-in-out .0001s 144 alternate both;
}

/*sixth letter animation Contact*/
/*A*/
.letterLineContact0601, .letterLineContact0602, .letterLineContact0603,.letterLineContact0607, .letterLineContact0608,.letterLineContact0609, .letterLineContact0610, .letterLineContact0614 {
  animation: flickr .09s ease-in-out .0009s 6 alternate both;
}

/*seventh letter animation Contact*/
/*C*/
.letterLineContact0701, .letterLineContact0702, .letterLineContact0703, .letterLineContact0710, .letterLineContact0715, .letterLineContact0716 {
  animation: flickr .055s ease-in-out .025s 12 alternate both;
}

/*eighth letter animation Contact*/
/*T*/
.letterLineContact0801, .letterLineContact0802, .letterLineContact0805, .letterLineContact0812{
  animation: flickr .005s ease-in-out .02s 224 alternate both;
}
